---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
const description = "The Circulum Vitae of Cloud Huxley."
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content= {Astro.generator} >
    <meta name="description" content={description}>
    <meta property="og:url" content="https://huxley.cloud">
    <meta property="og:type" content="website">
    <meta property="og:title" content={pageTitle}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content="/img/portrait.jpg">
    <title>{pageTitle}</title>
    <script src="https://kit.fontawesome.com/3f49199352.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
    <script>  import "../scripts/menu.js";  </script>
  </body>
</html>
